 
 <!-- FORM 1 -->

<!-- <div class="col-md-6 offset-md-3"  >
<h3>Ajouter un Compte</h3>
<form (ngSubmit)= "onSubmit()">

<div class ="form-group">
  <label> compte_id </label>
  <input type="number" class="form-control" id="compte_id"
      [(ngModel)]= "compte.compte_id" name="compte_id" disabled>

</div>

<div class ="form-group">
  <label> Nom </label>
  <input type="text" class="form-control" id="nom"
      [(ngModel)]= "compte.nom" name="nom">

</div>

<div class ="form-group">
  <label> Prenom </label>
  <input type="text" class="form-control" id="prenom"
      [(ngModel)]= "compte.prenom" name="prenom">

</div>

<div class ="form-group">
  <label> Genre </label>
  <input type="text" class="form-control" id="genre"
      [(ngModel)]= "compte.genre" name="genre">

</div>


<div class ="form-group">
  <label> Date naissance </label>
  <input type="date" class="form-control" id="date_naissance"
      [(ngModel)]= "compte.date_naissance" name="date_naissance">

</div>

<div class ="form-group">
  <label> Telephone </label>
  <input type="text" class="form-control" id="telephone"
      [(ngModel)]= "compte.telephone" name="telephone">

</div>

<div class ="form-group">
  <label> Adresse </label>
  <input type="text" class="form-control" id="adresse"
      [(ngModel)]= "compte.adresse" name="adresse">

</div>




<button class ="btn btn-success" type="submit">Ajouter</button>

</form>

</div> -->

<h2> Cree un Compte</h2>
<form (ngSubmit)= "onSubmit()">

<table class = "table table-striped"> 

    <thead>
        <!-- <tr>
            <th> Compte id</th>
            <th> nom </th>
            <th> Prenom </th>
            <th> Genre</th>
            <th> Date naissance</th>
            <th> Telephone</th>
            <th> Adresse</th>
        </tr> -->
    </thead>
    <tbody>
        <tr>
        <td>
          <div class ="form-group">
            <label> compte_id </label>
            <input type="number" class="form-control" id="compte_id"
                [(ngModel)]= "compte.compte_id" name="compte_id" disabled>
          
          </div></td>

        <td>
          <div class ="form-group">
            <label> Nom </label>
            <input type="text" class="form-control" id="nom"
                [(ngModel)]= "compte.nom" name="nom">
          
          </div></td>

        <td>
          <div class ="form-group">
            <label> Prenom </label>
            <input type="text" class="form-control" id="prenom"
                [(ngModel)]= "compte.prenom" name="prenom">
          
          </div></td>

        <td>
          <div class ="form-group">
            <label> Genre </label>
            <input type="text" class="form-control" id="genre"
                [(ngModel)]= "compte.genre" name="genre">
          
          </div></td>
          
        <td>
          <div class ="form-group">
            <label> Date naissance </label>
            <input type="date" class="form-control" id="date_naissance"
                [(ngModel)]= "compte.date_naissance" name="date_naissance">
          
          </div></td>
          
        <td>
          <div class ="form-group">
            <label> Telephone </label>
            <input type="text" class="form-control" id="telephone"
                [(ngModel)]= "compte.telephone" name="telephone">
          
          </div></td>

            <td> <div class ="form-group">
              <label> Adresse </label>
              <input type="text" class="form-control" id="adresse"
                  [(ngModel)]= "compte.adresse" name="adresse">
            
            </div> </td>
        


            <td>
              <button (click)="refresh()" style="margin-top: 21%;" class ="btn btn-success vertical-center" type="submit">Ajouter</button>

            </td>
            
        </tr>
 
    </tbody>
</table>

<br>
