
<div >
    <h3>Ajouter une Departement</h3>
    <form (ngSubmit)= "onSubmit()">
    
      <table class = "table table-striped"> 

        <tbody>
            <tr>
            <td>

    <div class ="form-group">
      <label> departement_id </label>
      <input type="number" class="form-control" id="departement_id"
          [(ngModel)]= "departement.departement_id" name="departement_id" disabled>
    
    </div></td>
    
    <td>
    <div class ="form-group">
      <label> Nom </label>
      <input type="text" class="form-control" id="nom"
          [(ngModel)]= "departement.nom" name="nom">
    
    </div></td>
    

    <td >
    <button (click)="refresh()" style="margin-top: 11%;"  class ="btn btn-success" type="submit">Ajouter</button>
    
  
  </td>


            
</tr>

</tbody>
</table>
</form>
    
    </div>
    