<h3> Afficher diplome details</h3>
<div>
    <div>
        <label> <b> ID: </b></label> {{diplome.diplome_id}}
    </div>
    <div>
        <label> <b> Universite: </b></label> {{diplome.universite}}
    </div>
    <div>
        <label> <b> Annee : </b></label> {{diplome.annee}}
    </div>
    <div>
      <label> <b> Specialite : </b></label> {{diplome.specialite}}
  </div>
  <div>
    <label> <b> Type Diplome : </b></label> {{diplome.type_diplome}}
</div>
<div>
    <label> <b> Employe : </b></label> {{diplome.employe}}
</div>
</div>
