
<div class="col-md-6 offset-md-3"  >
  <h3>Modifier un Type_diplome</h3>
  <form (ngSubmit)= "onSubmit()">

  <div class ="form-group">
    <label> Type_diplome id </label>
    <input type="number" class="form-control" id="type_diplome_id"
        [(ngModel)]= "type_diplome.type_diplome_id" name="type_diplome_id" disabled>

  </div>


  <div class ="form-group">
    <label> Type </label>
    <input type="text" class="form-control" id="type"
        [(ngModel)]= "type_diplome.type" name="type">

  </div>



  <button class ="btn btn-success" type="submit">Modifier</button>

  </form>

  </div>
