<app-create-diplome></app-create-diplome>

<h2>List des Diplomes</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Diplome id</th>
            <th> Universite </th>
            <th> Annee </th>
            <th> Specialite </th>
            <th> Type Diplome </th>
            <th> Employe </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let diplome of diplomes" >
            <td> {{ diplome.diplome_id }} </td>
            <td> {{ diplome.universite }} </td>
            <td> {{ diplome.annee }} </td>
            <td> {{ diplome.specialite }} </td>
            <td> {{ diplome.type_diplome }} </td>
            <td> {{ diplome.employe }} </td>




            <td>
              <button (click) = "modifierDiplome(diplome.diplome_id)" class = "btn btn-info">Modifier</button>
              <button (click) = "supprimerDiplome(diplome.diplome_id)" class = "btn btn-danger" style="margin-left: 10px">Supprimer</button>
              <button (click) = "afficherDiplome(diplome.diplome_id)" class = "btn btn-success" style="margin-left: 10px"> View</button>

            </td>

        </tr>
    </tbody>
</table>
